:root {
    --primary-color: #E5F619;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}


.card {
    height: 400px;
    width: 300px;
    background-color: #E90E0E;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.card__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin: 0 auto 50px;
    transform: translateY(25px);
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    transform: translateY(0);
}

.card__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__job {
    color: var(--primary-color);
    margin: 10px 0;
}

.card__socials {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.card__socials i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.card button {
    height: 40px;
    width: 120px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}

.card button:hover, .card__socials i:hover {
    transform: scale(1.2);
}
